@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div>
            @Html.ActionLink("Show Event Types", "events", "home")
        </div>
        <div>
            @Html.ActionLink("Create A Rest Hook", "createhook", "home")
        </div>
        <div>
            @Html.ActionLink("Subscribe to Adding Invoice Payments", "createhook", "home", new { eventKey = "invoice.payment.add" }, null)
        </div>
        <div>
            @Html.ActionLink("Subscribe to Order Edits", "createhook", "home", new { eventKey = "order.edit" }, null)
        </div>
        <div>
            @Html.ActionLink("Subscribe to Order Deletes", "createhook", "home", new { eventKey = "order.delete" }, null)
        </div>
        <div>
            @Html.ActionLink("Verify Hook", "verifyhookdelayed", "home")
        </div>
    </div>
</div>